<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/attendance-list.css' />
    <!-- datatables/jquery -->

    <link rel='stylesheet' href='/stylesheets/jquery.dataTables.min.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="javascripts/jquery.dataTables.min.js"></script>

    <!-- material icons -->
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <!-- Sidebar -->
    <section id="menu">

      <div class="logo">
        <!-- <img src="/images/SAM_0027.JPG" alt=""> -->
        <h2>HRMS</h2>
      </div>

      <div class="items">
        <li>
          <span class="material-symbols-sharp">dashboard</span>
          <a href="/">Dashboard</a>
        </li>
        <li id="dropdownOrg">
          <span class="material-symbols-sharp">corporate_fare</span>
          <a href="#" onclick="return false;">Organization</a>
          <span class="material-symbols-sharp dropdown">keyboard_arrow_down</span>
          <div class="org dropdowns">
           <a href="/department">Department</a>
        </li>
        <li>
          <span class="material-symbols-sharp">badge</span>
          <a href="/employees">Employees</a>
        </li>
        <li id="dropdownAtt">
          <span class="material-symbols-sharp">monitoring</span>
          <a href="#" onclick="return false;">Attendance</a>
          <span class="material-symbols-sharp dropdown">keyboard_arrow_down</span>
          <div class="att dropdowns">
            <a href="/record-attendance">Record Attendance</a>
            <br><br>
            <a href="/attendance-report">Attendance Report</a>
           </div>
        </li>
        <li>
          <span class="material-symbols-sharp">person_add</span>
          <a href="/enroll">Enrollment</a>
        </li>
        <li id="dropdownLev">
          <span class="material-symbols-sharp">person_remove</span>
          <a href="#" onclick="return false;">Leave</a>
          <span class="material-symbols-sharp dropdown">keyboard_arrow_down</span>
          <div class="lev dropdowns">
            <a href="">Sick Leave</a>
            <br><br>
            <a href="">Casual Leave</a>
            <br><br>
            <a href="">Maternity Leave</a>
            <br><br>
            <a href="">Paternity Leave</a>
            <br><br>
            <a href="">Bereavement Leave</a>
            <br><br>
            <a href="">Sabbatical Leave</a>
            <br><br>
            <a href="">Unpaid Leave</a>
           </div>
        </li>
        <li class="current">
          <span class="material-symbols-sharp">credit_card</span>
          <a href="#">Payroll</a>
        </li>
        <li id="dropdownLoan">
          <span class="material-symbols-sharp">payments</span>
          <a href="#" onclick="return false;">Loan</a>
          <span class="material-symbols-sharp dropdown">keyboard_arrow_down</span>
          <div class="loan dropdowns">
            <a href="/loans-granted">Loans Granted</a>
            <br><br>
            <a href="/grant-loans">Grant Loan</a>
           </div>
        </li>      
      </div>

    </section>
    <!-- END OF MENU -->

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                  <span class="material-symbols-sharp">search</span>
                  <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Search" autofocus>
                </div>
      
                <div class="profile">
                  <a href=""><span class="material-symbols-sharp">account_circle</span></a> 
                </div>
              </div>
        </div>
    </section>
    <section id="interface">
        <div class="table">
            <table width="100%" id="example">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Enrollment Date</th>
                  <th>Loans</th>     
                  <th>Annual Gross</th>          
                  <!-- <th></th>     -->
                  <th></th>    
                </tr>
              </thead>
              <tbody>
                <% empInfo.forEach((row) =>{ %>
                  <tr>
                    <td class="employees">
                      <!-- <img src="images/SAM_0027.JPG" alt=""> -->
                      <div class="employee-dets"> 
                        <p><%= row.first_name+' '+row.last_name %></p>
                      </div>
                    </td>
                    <td>
                      <p><%= row.enrollment_date %></p>
                    </td>
                    <td>
                      <p>NGN  0</p>
                    </td>
                    <td>
                      <p><%="NGN "+(row.salary).toLocaleString()%></p>
                    </td>
                    <td class="salary">
                      <p><a href="/generate-salary?staff_id=<%=row.staff_id%>">Salary</a></p> 
                    </td>
                    <!-- <td>
                      <p class="report">
                        <a href="/payroll-report">Report</a>
                      </p>
                    </td> -->
                  </tr>
                <%})%>
              </tbody>
            </table>
          </div>
    </section>
    <%- include('footer.ejs') -%>